<div class="row">

<div class="large-6 column">
<p/>
<h3>Chess::Inspector</h3>

<table border="1" style="border-collapse: separate;">

    <% FOREACH row IN index.keys.sort %>
    <tr>
        <% FOREACH cell = index.$row %>
        <td height="55" width="55">
            <% cell.val %>
        </td>
        <% END %>
    </tr>
    <% END %>

</table>

</div>

<div class="large-3 column">
</div>
<div class="large-6 column">
</div>

</div>
